[Unit]
Description=matrix
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/scoreboard-hardware-settings
LimitNOFILE=4096
ExecStart=/home/pi/scoreboard-hardware-settings/demo.sh
ExecStop=/bin/kill -s SIGINT ${MAINPID}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
